---
layout: default
title: Le Gran Fondo delle Marche
description: Vi diamo il benvenuto alla Città che ha il mare e la bici nel cuore.
---

<div style="position: relative; padding: 0px 24px; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url(https://s3.eu-central-1.amazonaws.com/giovanissimi/sfondo_lipobreak.jpg)" class="row centerpiece">
	<!-- <img class="home-banner-image" src="https://s3.eu-central-1.amazonaws.com/giovanissimi/sfondo_lipobreak.jpg"/> -->

	<div class="col-md-4"></div>
	<div class="col-md-4">
		<a href="https://www.endu.net/en/events/lipobreak-race/">
			<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/lipobreak_race_logo_con_data.png"/>
		</a>
	</div>
	<div class="col-md-4"></div>
</div>
<!--
<div class="row affiliates">
	<div class="col-md-4"><img src="{{ site.baseurl }}/assets/images/logo_pse.jpg"/></div>
	<div class="col-md-4"><img src="{{ site.baseurl }}/assets/images/stemma_pse.jpg"/></div>
	<div class="col-md-4"><img src="{{ site.baseurl }}/assets/images/logo_grand_prix.jpg"/></div>
</div>
 -->
<div class="row home-page-information">
	<div class="col-md-6">
		<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/planimetria_gfpse_2019.jpg"/>
		<h2>Il percorso</h2>
		<p>
			Tra il Mare Adriatico e i Monti Sibillini, un percorso unico agonistico di 90 chilometri attraversando ben 19 comuni nel Fermano (Fermo, Porto San Giorgio, Lapedona, Altidona, Moresco, Monterubbiano, Petritoli, Montevidon Combatte, Ortezzano, Sant’Elpidio Morico, Monsanpietro Morico, Belmonte Piceno, Servigliano, Montegiorgio, Magliano di Tenna, Rapagnano, Monte Urano, San Elpidio a Mare, Porto Sant’Elpidio).
		</p>
		<p>Sono consultabili <a href="{{ site.baseurl }}/planimetria_pse">la planimetria</a>, <a href="{{ site.baseurl }}/altimetria_pse">l'altimetria</a>, <a href="{{ site.baseurl }}/cronotabella_pse">la cronotabella</a> e l'intero percorso GPS è disponibile da scaricare sia in formato .gpx e .kml.</p>
	</div>
	<div class="col-md-6">
		<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/portosantelpidiodallalto.jpg"/>
		<h2>La città</h2>
		<p>Porto Sant'Elpidio è un comune italiano di circa 27.000 abitanti della provincia di Fermo nelle Marche, che si concentra in modo notevole sulla produzione delle calzature da donna. Il suo tessuto urbanistico si è principalmente sviluppato in linea con il litorale marino, seguendo i due principali assi viari costieri: la strada statale 16 Adriatica e la linea ferroviaria adriatica. La forma allungata del territorio è delimitata a nord e a sud rispettivamente dai fiumi Chienti e Tenna.</p>
<!-- 		<p>La storia di Porto Sant'Elpidio è relativamente breve. Come comune autonomo è stato istituito di recente, nel 1952, dalla suddivisione amministrativa della città di Sant'Elpidio a Mare nel secondo dopoguerra. Da alcuni scavi nella zona interna del comune (Fonteserpe, Pescolla, Pian Di Torre) si sono trovati molti reperti archeologici importanti, che confermano la presenza di alcune sepulture Etrusche risalenti all'ultimo periodo. Dell'epoca medioevale si ritrovano mappe in cui già nel 1500-1600 si legge di un piccolo paesino sulla costa, col nome di "Porto San Lupidio", con mare pescoso e poco lontano dal Castrum Castri, fortezza militare andata distrutta in epoca medievale. Nonostante il passare degli anni e la continua immigrazione dal sud Italia, il paese è rimasto abbastanza piccolo fino al 1952, in cui ottiene l'indipendenza comunale da Sant'Elpidio a Mare, cambiando nome da "Porto di Sant'Elpidio a Mare" a "Porto Sant'Elpidio".</p> -->
		<p>Su questo sito potete inoltre trovare <a href="{{ site.baseurl }}/restaurants">i ristoranti</a> e <a href="{{ site.baseurl }}/hotels">gli alberghi</a> di Porto Sant'Elpidio e della zona circostante.</p>
	</div>
	<!--<div class="col-md-4">
		<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/comepartecipare.jpg"/>
		<h2>Come partecipare</h2>
		<p>Le iscrizioni on line per la Gran Fondo del Fermano sono già aperte! Chiuderanno Venerdì 21 settembre 2018 alle ore 20.00. Possono essere effettuate attraverso <a href="http://www.kronoservice.com/it/schedagara.php?idgara=2320">KronoService cliccando qui</a> o tramite il nostro sito <a href="{{ site.baseurl }}/iscriversi_del_fermano">cliccando qui</a>. Saranno anche aperte le iscrizioni con operatore: Sabato 22 settembre e Domenica 23 settembre.</p>
		<p>Le iscrizioni sono gratuite fino al 21 settembre 2018.</p>
		<p>Per ulteriori informazioni potete consultare <a href="{{ site.baseurl }}/regolamento_gran_fondo_del_fermano#apertura-e-chiusura-inscrizioni">il regolamento completo</a>.</p>
	</div>-->
</div>

<script type="text/javascript">
	jQuery(function() {
		basePath = "{{ site.baseurl }}/assets/images/";
		extension = "_sponsor.jpg";
		goldSponsors = [{ "src_name": "lipobreak", "link": "http://www.lipobreak.com/" }];
		mainSponsorsOne = [{ "src_name": "giorgio_mare", "link": "http://www.giorgiomare.it/" }, { "src_name": "givi", "link": "http://www.giviplast.com/" }, { "src_name": "il_gambero", "link": "https://www.ristoranteilgambero.eu/" }, { "src_name": "hair_services", "link": "#" }];
		mainSponsorsTwo = [{ "src_name": "tutti_campioni", "link": "https://www.tutticampioni.com" }, { "src_name": "lineaoro", "link": "http://www.gioiellerialineaoro.it/" }, { "src_name": "didacus", "link": "http://www.didacus.it/" }];
		sponsorsOne = [{ "src_name": "ares", "link": "#" }, { "src_name": "fm_tv", "link": "https://www.fmtv.live/" }, { "src_name": "esserre", "link": "#" }, { "src_name": "sebastiano_migliore", "link": "#" }, { "src_name": "bedetta", "link": "#" }, { "src_name": "vetreria_petrini", "link": "#" }, { "src_name": "ala", "link": "#" }, { "src_name": "fraben", "link": "#" }, { "src_name": "inline", "link": "#" }, { "src_name": "hicari", "link": "http://www.hicarishop.com/" }, { "src_name": "envikem", "link": "#" }];
		sponsorsTwo = [{ "src_name": "renzi", "link": "http://www.renzishoes.it/" }, { "src_name": "benzi_pellami", "link": "http://www.benzipellami.it/" }, { "src_name": "perla_sul_mare", "link": "https://www.ristoranteperlasulmare.it/" }, { "src_name": "flog", "link": "#" }, { "src_name": "fabiani", "link": "#" }, { "src_name": "cluanplast", "link": "#" }, { "src_name": "brasili", "link": "#" }, { "src_name": "eco_elpidiense", "link": "#" }, { "src_name": "proffcreations", "link": "#" }, { "src_name": "tropical", "link": "#" }];
		sponsorsThree = [{ "src_name": "luciani", "link": "#" }, { "src_name": "repo", "link": "#" }, { "src_name": "biotre_consulting", "link": "#" }, { "src_name": "biotre_servizi", "link": "http://www.biotreservizi.it/" }, { "src_name": "euro_graf", "link": "#" }, { "src_name": "sorbatti", "link": "#" }, { "src_name": "nero_servizi", "link": "#" }, { "src_name": "nyatec", "link": "#" }];

		// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random#Getting_a_random_integer_between_two_values
		function getRandomIntInclusive(min, max) {
		  min = Math.ceil(min);
		  max = Math.floor(max);
		  return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		possiblePositions = [1, 2, 3, 4, 5, 6];
		finalOrder = [];

		var possiblePositionsLength = possiblePositions.length - 1;
		// console.log(possiblePositionsLength);
		for (var i = 0; i < possiblePositions.length; i++) {
			var positionChosen = getRandomIntInclusive(0, possiblePositionsLength);
			finalOrder[i] = possiblePositions[positionChosen];
			// var temp = possiblePositions[finalOrder[i]];
			// console.log("position chosen: " + positionChosen + " value: " + finalOrder[i]);
			possiblePositions[positionChosen] = possiblePositions[possiblePositionsLength];
			// console.log(possiblePositions);
			possiblePositionsLength--;
		}

		for (var i = 0; i < finalOrder.length; i++) {
			if (finalOrder[i] == 1) {
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", goldSponsors[0]["link"]);

				if (goldSponsors[0]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + goldSponsors[0]["src_name"] + extension);
			} else if (finalOrder[i] == 2) {
				var randomIndex = getRandomIntInclusive(0, mainSponsorsOne.length - 1);
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", mainSponsorsOne[randomIndex]["link"]);

				if (mainSponsorsOne[randomIndex]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + mainSponsorsOne[randomIndex]["src_name"] + extension);
			} else if (finalOrder[i] == 3) {
				var randomIndex = getRandomIntInclusive(0, mainSponsorsTwo.length - 1);
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", mainSponsorsTwo[randomIndex]["link"]);

				if (mainSponsorsTwo[randomIndex]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + mainSponsorsTwo[randomIndex]["src_name"] + extension);
			} else if (finalOrder[i] == 4) {
				var randomIndex = getRandomIntInclusive(0, sponsorsOne.length - 1);
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", sponsorsOne[randomIndex]["link"]);

				if (sponsorsOne[randomIndex]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + sponsorsOne[randomIndex]["src_name"] + extension);
			} else if (finalOrder[i] == 5) {
				var randomIndex = getRandomIntInclusive(0, sponsorsTwo.length - 1);
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", sponsorsTwo[randomIndex]["link"]);

				if (sponsorsTwo[randomIndex]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + sponsorsTwo[randomIndex]["src_name"] + extension);
			} else if (finalOrder[i] == 6) {
				var randomIndex = getRandomIntInclusive(0, sponsorsThree.length - 1);
				$("#sponsor_" + (i + 1).toString() + "_link").attr("href", sponsorsThree[randomIndex]["link"]);

				if (sponsorsThree[randomIndex]["link"] != "#") {
					$("#sponsor_" + (i + 1).toString() + "_link").attr("target", "_blank");
				}

				$("#sponsor_" + (i + 1).toString()).attr("src", basePath + sponsorsThree[randomIndex]["src_name"] + extension);
			}
		}
	});
</script>

<div class="row sponsors">
	<div class="col-md-12"><a href="{{ site.baseurl }}/sponsors"><h2>Un ringraziamento agli Sponsor</h2></a></div>
	<div class="col-md-4">
		<a id="sponsor_1_link" href="">
			<div class="col-xs-6"><img id="sponsor_1" src=""/></div>
		</a>
		<a id="sponsor_2_link" href="">
			<div class="col-xs-6"><img id="sponsor_2" src=""/></div>
		</a>
	</div>
	<div class="col-md-4">
		<a id="sponsor_3_link" href="">
			<div class="col-xs-6"><img id="sponsor_3" src=""/></div>
		</a>
		<a id="sponsor_4_link" href="">
				<div class="col-xs-6"><img id="sponsor_4" src=""/></div>
			</a>
	</div>
	<div class="col-md-4">
		<a id="sponsor_5_link" href="">
			<div class="col-xs-6"><img id="sponsor_5" src=""/></div>
		</a>
		<a id="sponsor_6_link" href="">
				<div class="col-xs-6"><img id="sponsor_6" src=""/></div>
			</a>
	</div>
</div>

<div class="row promotion-banner">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-4">
				<a href="http://motostaffettateramo.blogspot.com/" target="_blank">
					<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/scorta_tecnica_teramo.jpeg" />
				</a>
			</div>
			<div class="col-xs-4">
				<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/scorte_tecniche_molisane.jpeg" />
			</div>
			<div class="col-xs-4">
				<a href="https://www.sportshot.de/?l=it&locale=it" target="_blank">
					<img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/SportShotLogo.jpg" />
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div id="articles-list" class="articles-list">
	{% for post in paginator.posts %}
		{% if post.external_link %}
			<a href="{{ post.external_link }}" target="_blank">
				<div class="row article-row">
					<div class="col-md-3 col-md-push-9 vcenter">
						<img alt="{{ post.imagealt }}" src="{{ site.baseurl }}{{ post.image }}"/>
					</div><!--
					--><div class="col-md-9 col-md-pull-3 vcenter">
						<h3>{{ post.title }}</h3>
						<h5>{{ post.date | date: '%d/%m/%Y' }}</h5>
						<p>{{ post.description }}..</p>
					</div>
				</div>
			</a>
		{% else %}
			<a href="{{ site.baseurl }}{{ post.url }}">
				<div class="row article-row">
					<div class="col-md-3 col-md-push-9 vcenter">
						<img alt="{{ post.imagealt }}" src="{{ site.baseurl }}{{ post.image }}"/>
					</div><!--
					--><div class="col-md-9 col-md-pull-3 vcenter">
						<h3>{{ post.title }}</h3>
						<h5>{{ post.date | date: '%d/%m/%Y' }}</h5>
						<p>{{ post.description }}..</p>
					</div>
				</div>
			</a>
		{% endif %}
	{% endfor %}

	<div class="row pagination">
		<div class="col-md-12">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}#articles-list" class="previous">Precedente</a>
			{% else %}
				<span class="previous">Precedente</span>
			{% endif %}

			<span class="page_number">Pagina: {{ paginator.page }} di {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}#articles-list" class="next">Prossima</a>
			{% else %}
				<span class="next">Prossima</span>
			{% endif %}
		</div>
	</div>
</div>