<div id="footer" class="container-fluid footer-links">
	<div class="desktop-footer">
		<div class="row actual-footer-links">
			<img style="position: absolute; bottom: 0px; left: 0px; width: 100vw;" src="{{ site.baseurl }}/assets/images/footer_image.png"/>
			<img style="position: relative; bottom: 0px; left: -200px; width: 100vw; opacity: 0;" src="{{ site.baseurl }}/assets/images/footer_image.png"/>

			<div class="col-md-3"></div><!--
			--><div class="col-md-2">
				<h4>CONTATTI:</h4>
				<ul>
					<li>VINCENZO SANTONI</li>
					<li>+39 389 1607169</li>
					<li>VINCSANTONI@GMAIL.COM</li>
				</ul>
			</div><!--
			--><div class="col-md-2">
				<h4>SEGUICI ANCHE SU:</h4>
				<ul>
					<!-- <li><a href="#">Facebook</a></li> -->
					<li><a href="https://www.facebook.com/gfportosantelpidio/" target="_blank">FACEBOOK</a></li>
					<li><a href="https://www.youtube.com/channel/UCs-NMnwQIs7QvjbgDKgthdw" target="_blank">YOUTUBE</a></li>
					<li><a href="https://www.instagram.com/granfondoportosantelpidio/" target="_blank">INSTAGRAM</a></li>
					<!-- <li><a href="#">Twitter</a></li> -->
				</ul>			
			</div><!--
			--><div class="col-md-2">
				<h4>LINK UTILI:</h4>
				<ul>
					<li><a href="hotels">DOVE DORMIRE</a></li>
					<li><a href="restaurants">DOVE MANGIARE</a></li>
	<!-- 				<li><a href="hotels.html">Hotels e B&B</a></li>
					<li><a href="contatti.html">Contatti</a></li>	 -->		
				</ul>
			</div><!--
			--><div class="col-md-3"></div>
		</div>

		<div class="row final-footer-text">
			<div class="col-md-12">
				© 20{{ site.time | date: '%y' }} Gio.Ca Communications srl - P.Iva 06239291005 - REA: RM - 961136 - Cap. Soc. : 10.320,00 | <a href="privacy">Privacy e Cookie Policy</a>
			</div>
		</div>
	</div>

	<div class="mobile-footer">
		<div class="row actual-footer-links">
			<div class="col-md-3"></div><!--
			--><div class="col-md-2">
				<h4>CONTATTI:</h4>
				<ul>
					<li>VINCENZO SANTONI</li>
					<li>+39 389 1607169</li>
					<li>VINCSANTONI@GMAIL.COM</li>
				</ul>
			</div><!--
			--><div class="col-md-2">
				<h4>SEGUICI ANCHE SU:</h4>
				<ul>
					<!-- <li><a href="#">Facebook</a></li> -->
					<li><a href="https://www.facebook.com/gfportosantelpidio/" target="_blank">FACEBOOK</a></li>
					<li><a href="https://www.youtube.com/channel/UCs-NMnwQIs7QvjbgDKgthdw" target="_blank">YOUTUBE</a></li>
					<li><a href="https://www.instagram.com/meetingpse2017/" target="_blank">INSTAGRAM</a></li>
					<!-- <li><a href="#">Twitter</a></li> -->
				</ul>			
			</div><!--
			--><div class="col-md-2">
				<h4>LINK UTILI:</h4>
				<ul>
					<li><a href="hotels">DOVE DORMIRE</a></li>
					<li><a href="restaurants">DOVE MANGIARE</a></li>
	<!-- 				<li><a href="hotels.html">Hotels e B&B</a></li>
					<li><a href="contatti.html">Contatti</a></li>	 -->		
				</ul>
			</div><!--
			--><div class="col-md-3"></div>
		</div>

		<div class="row actual-footer-links">
			<img style="position: absolute; bottom: 0px; left: 0px; width: 100vw;" src="{{ site.baseurl }}/assets/images/footer_image.png"/>
			<img style="position: relative; bottom: 0px; width: 100vw; opacity: 0;" src="{{ site.baseurl }}/assets/images/footer_image.png"/>		
		</div>	

			<div class="row final-footer-text">
				<div class="col-md-12">
					© 20{{ site.time | date: '%y' }} Gio.Ca Communications srl - P.Iva 06239291005 - REA: RM - 961136 - Cap. Soc. : 10.320,00 | <a href="privacy">Privacy e Cookie Policy</a>
				</div>
			</div>				
	</div>	
</div>

<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>