<nav id="header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{ site.baseurl }}/" class="main-site-logo navbar-brand">
                <img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/{% if page.logo %}{{ page.logo }}{% else %}logo_gfpse{% endif %}.png"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LE GRANFONDO <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <h5 class="dropdown-header"><img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/logo_gfpse.png"/></h5>
                    <li><a class="main-link" href="{{ site.baseurl }}/regolamento_pse">IL REGOLAMENTO</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/altimetria_pse">L'ALTIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/planimetria_pse">LA PLANIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/cronotabella_pse">LA CRONOTABELLA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/iscriversi_pse">ISCRIVERSI</a></li>
                    <h5 class="dropdown-header"><img src="https://s3.eu-central-1.amazonaws.com/giovanissimi/logo_gfddsdf.png"/></h5>
                    <li><a class="main-link" href="{{ site.baseurl }}/regolamento_gran_fondo_del_fermano">IL REGOLAMENTO</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/altimetria_del_fermano">L'ALTIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/planimetria_del_fermano">LA PLANIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/cronotabella_del_fermano">LA CRONOTABELLA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/iscriversi_del_fermano">ISCRIVERSI</a></li>
                  </ul>
                </li>
<!--                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GRAN FONDO INTERNAZIONALE PSE <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="{{ site.baseurl }}/regolamento">IL REGOLAMENTO</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/altimetria">L'ALTIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/planimetria">LA PLANIMETRIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/cronotabella">LA CRONOTABELLA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/iscriversi">ISCRIVERSI</a></li>
                  </ul>
                </li>  -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GRAND PRIX COSTE FERMANE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="main-link" href="{{ site.baseurl }}/grand_prix">LA CLASSIFICA</a></li>
                        <li><a class="main-link" href="{{ site.baseurl }}/sponsors">GLI SPONSOR</a></li>
                    </ul>
                <!-- <li class="dropdown"><a href="{{ site.baseurl }}/regolamento_gran_prix">EDIZIONI PASSATE</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTO SANT'ELPIDIO <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="{{ site.baseurl }}/storia">LA STORIA</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/ciclismo">IL CICLISMO</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/hotels">DOVE DORMIRE</a></li>
                    <li><a class="main-link" href="{{ site.baseurl }}/restaurants">DOVE MANGIARE</a></li>
                    <!-- <li><a class="main-link" href="{{ site.baseurl }}/foto">LE NOSTRE FOTO</a></li> -->
                  </ul>
                </li>
                <!-- <li><a href="hotels.html">CONTATTI</a></li> -->
                <!-- <li><a href="restaurants.html">DOVE MANGIARE</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- <div class="notice">
    <p>Vi aspettiamo a Porto Sant'Elpidio questo fine settimana per la <b>Gran Fondo del Fermano</b>! Le iscrizioni online chiuderanno Venerdì; con operatore saranno aperte Sabato e Domenica presso <b>E Bike Store Tutticampioni</b> in Via XX Settembre 23, Porto Sant'Elpidio. Il regolamento è <a href="{{ site.baseurl }}/regolamento_gran_fondo_del_fermano">consultabile qui</a>.</p>
    <p>Vi aspettiamo inoltre <b>Lunedi 2 Aprile 2018</b> per la Sesta Edizione della <b>Gran Fondo Città di Porto Sant'Elpidio</b>, tutte le informazioni sono disponibili su questo sito sotto la voce "Le Granfondo".</p>
</div> -->