<nav id="header" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="main-site-logo navbar-brand">
                <img src="{{ site.baseurl }}/assets/images/logo_dettagliato.png"/>
            </a>            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LA GRANFONDO <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="/altimetria">L'ALTIMETRIA</a></li>
                    <li><a class="main-link" href="/planimetria">LA PLANIMETRIA</a></li>
                    <li><a class="main-link" href="/cronotabella">LA CRONOTABELLA</a></li>
                  </ul>
                </li>                      
                <li class="dropdown"><a href="/regolamento">IL REGOLAMENTO</a></li>
                <li class="dropdown"><a href="/regolamento">ISCRIVERSI</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTO SANT'ELPIDIO <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="main-link" href="/storia">LA STORIA</a></li>
                    <li><a class="main-link" href="/ciclismo">IL CICLISMO</a></li>
                    <li><a class="main-link" href="/hotels">DOVE DORMIRE</a></li>
                    <li><a class="main-link" href="/restaurants">DOVE MANGIARE</a></li>                    
                    <!-- <li><a class="main-link" href="/foto">LE NOSTRE FOTO</a></li> -->
                  </ul>
                </li>                            
                <!-- <li><a href="hotels.html">CONTATTI</a></li> -->
                <!-- <li><a href="restaurants.html">DOVE MANGIARE</a></li> -->
            </ul>
        </div>
    </div>
</nav>